<h2>Konverterare</h2>
<p>Ange ett värde och välj vilken enhet du vill konvertera till. Du kan konvertera mellan temperatur (Celsius och
    Fahrenheit) och längd (meter och fot).</p>

<section>
    <div>
        <div class="input">
            <label for="convertFrom">Skriv in ett tal att konvertera:</label>
            <input type="number" id="convertFrom" [(ngModel)]="inputValue" required #inputField="ngModel">
            <div class="error" *ngIf="inputField.invalid && inputField.touched">
                Du måste skriva in ett giltigt tal.
            </div>
        </div>
        <p>Välj enhet att konvertera mellan:</p>
        <div class="btn-row">
            <button (click)="convertToCelsius()">Fahrenheit → Celsius</button>
            <button (click)="convertToFahrenheit()">Celsius → Fahrenheit</button>
            <button (click)="convertToMeters()">Fot → Meter</button>
            <button (click)="convertToFeet()">Meter → Fot</button>
        </div>

        <div class="result"><strong>Resultat:</strong> {{ result | number: "1.2-2" }} {{unit}}</div>
    </div>
</section>